#header {
    /* background-image: url(../images/laptop.jpg) center center / cover no-repeat; */
    background-image: url('../images/laptop.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
    font-family: inherit;
}

a:hover {
  cursor: pointer;
  transition: all 0.1s;
  transform: translateY(-3px);
  transform: scale(1.1);
  box-shadow: 0px 3px 6px rgba(250, 245, 240, 0.1);
  /* animation: bobbing 0.8s  infinite; */
}

@keyframes bobbing {
  0% {
    /* transform: translateY(0); */
  }
  25% {
    /* transform: translateY(-1px); */
    transform: scale(1.1);
  }
  50% {
    /* transform: translateY(-2px); */
  }
  75% {
    /* transform: translateY(-1px); */
  }
  100% {
    /* transform: translateY(0); */
    transform: scale(1);
  }
}


