#header {
    background: url(../images/laptop.jpg) center center / cover no-repeat;
    color: white;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
    font-family: inherit;
}